html{
    background-color:blueviolet;
}
.img{
    border: 5px solid white;
    margin-top: 50px;
}
.poster{
    text-align: center;
    color: white;
}
h1{
    font-family: 'Josefin Slab', serif;
    text-transform: uppercase;
}
p{
    font-family: 'Bree Serif', serif;
}